<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodDecHuffman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styleindex.css') }}">
    <script src="{{ url_for('static', filename='js/effect.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Bienvenidos a codificador de Huffman</h1>
        <br><br>
        <form action="/encode" method="post">
            <textarea id="mensaje" class="input" name="mensaje" rows="4" cols="50" placeholder="Ingrese el texto"></textarea>
            <br><br>
            <button class="button type1" type="submit">
                <span class="btn-txt">Codificar</span>
            </button>
        </form>
    </div>
</body>
</html>